
.divPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPage2{
    display: none;
}


.creerTitre{
    display: flex;
    position: relative; 
    width:100%; 
    margin-top:2rem;
    justify-content: center;
}

.btnCreation{
    position: absolute;
    left:0; 
    margin-left:2rem
}

.listeNom{
    width: 60%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 1rem ;
    border-bottom-left-radius: 1rem ;
    border: 1px solid grey; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li{
    list-style-type: none;
    padding: 0.3rem;
    background-color: #B1B1B0;
    cursor: pointer;
}

ul li:not(:nth-child(1))
{
    border-top: 0.5px solid black;
}

.active{
    background-color: white;
    transition: all 0.3s ease;
    font-weight: bold;
}

.activeContenu{
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from{
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}




.contenu{
    visibility: hidden;
    opacity: 0;
    border-left: 2px solid grey;
}

.detailStar{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.nomStar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    margin-top: 2rem;
}

.descriptionStar{
    align-items: flex-start;
    width: 60%;
    height: 100%;
    /* border-left: 1px solid grey; */
    position: relative;
}

.imagePersonnage{
    width:20%;
    float:left;
    border:white 5px solid;
    box-shadow: 0px 0px 10px black;
    margin-right: 1rem;
    margin-bottom: 1rem;
}




@media screen and (max-width : 450px){

    .divPage{
        display: none;
    }

    .divPage2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .creerTitre{
        display: flex;
        flex-direction: column;
        width:100%; 
        margin-top:2rem;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .btnCreation{
        width:50%;
        position: relative;
        margin: 0;
    }
    
    
    .listeNom{
        width: 60%;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 1rem ;
        border-bottom-left-radius: 1rem ;
        border: 1px solid grey; 
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    ul li{
        list-style-type: none;
        padding: 0.3rem;
        background-color: #B1B1B0;
        cursor: pointer;
    }
    
    ul li:not(:nth-child(1))
    {
        border-top: 0.5px solid black;
    }
    
    .active{
        background-color: white;
        transition: all 0.3s ease;
        font-weight: bold;
    }
    
    .activeContenu{
        animation: fade 0.5s forwards;
    }
    
    @keyframes fade {
        from{
            opacity: 0;
            visibility: hidden;
        }
        to{
            opacity: 1;
            visibility: visible;
        }
    }
    
    .contenu{
        visibility: hidden;
        opacity: 0;
    }
    
    .detailStar{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
    }
    
    .nomStar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 0.3rem;
        width: 100%;
        margin: 0;
        background-color: #d3d3d3;
        border-top: 0.5px solid black;
    }
    .nomStar:nth-child()
    {
        border-top: 0.5px solid black;
    }

    .nomStar:nth-last-child(1)
    {
        border-bottom: 0.5px solid black;
    }
    
    .descriptionStar{
        align-items: flex-start;
        width: 100%;
        height: 100%;
        display: none;
        /* border-left: 1px solid grey; */
        position: relative;
        margin-left: 1rem;
        margin-bottom: 1rem ;

    }

    .descriptionStar1{
        display: block !important;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .imagePersonnage{
        width:20%;
        float:left;
        border:white 5px solid;
        box-shadow: 0px 0px 10px black;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
}